{% extends 'base.html' %}
{% load static %}  <!-- ✅ مهم جداً -->

{% block title %}Contactez-nous - Alkayre{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/svr.css' %}">
<div class="contact-section">
    <section>
        <div class="imo">
            <h1>Nos Marques</h1>

        </div>
    </section>


<body>

<div class="container">
            <br><br>
            <br><br>
    <h1>À propos de la marque SVR</h1>

    <div class="intro">
        <img src="{% static 'image/284-brand_default_2x.webp' %}" alt="SVR">
        <p>
            Fondée en 1962 par un couple de pharmaciens passionnés, la marque française <strong>SVR</strong> s’est imposée
            comme un acteur majeur dans le domaine des soins dermatologiques. Elle propose des produits à très haute
            concentration d’actifs dermatologiques, tout en assurant une excellente tolérance pour les peaux sensibles.
            <br><br>
            La marque développe des solutions efficaces pour l'acné, l’hydratation, les rougeurs, la peau atopique, le
            vieillissement cutané et plus encore. Que vous cherchiez un nettoyant doux, un sérum anti-âge ou une crème solaire,
            SVR vous accompagne au quotidien avec des formules testées et recommandées par les dermatologues.
        </p>
    </div>
<br>
<br>
    <h2>Nos Produits SVR</h2>
    <div class="products">
        <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Sebiaclear Gel Moussant">
            <h3>Sebiaclear Gel Moussant</h3>
            <p>Nettoyant purifiant pour les peaux grasses et sensibles</p>
        </div>

        <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>

         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>


         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>


         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>

         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>


         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>


         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>


         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>



         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>



         <div class="product-card">
            <img src="{% static 'image/100.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>

         <div class="product-card">
            <img src="{% static 'image/99.png' %}" alt="SVR Cicavit+ Crème">
            <h3>Cicavit+ Crème</h3>
            <p>Crème réparatrice apaisante pour peaux irritées</p>
        </div>

        <div class="product-card">
            <img src="{% static 'image/14.png' %}" alt="SVR Sun Secure Blur SPF50">
            <h3>Sun Secure Blur SPF50</h3>
            <p>Crème solaire effet floutant, très haute protection</p>
        </div>
    </div>
</div>



</body>
</html>
  
{% endblock %}    